<header>
  <div class="overlay">
    <h1>Simply The Best</h1>
    <h3>Reasons for Choosing US</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum
      quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero
      nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.
    </p>
    <br />
    <button>READ MORE</button>
  </div>
</header>
