<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
      <div class="footer_center">
        <h4>This is actually a footer</h4>
      </div>
    </div>
  </div>
</div>
