.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.topnav button {
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 5.75px 10px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
}
