<div class="topnav">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>

  <button style="float: right;">Click Me</button>
  <a href="#" style="float: right;">Link 4</a>
</div>
